.canvas {
  background-color: skyblue;
  height: 90%;
  width: 90%;
  position: absolute;
}
.ground {
  background-color: rgb(128, 52, 1);
  height: 5%;
  width: 90%;
  position: absolute;
  top: 90%;
}
.cloud {
  background-color: white;
  height: 50px;
  width: 100px;
  border-radius: 60px;
  position: absolute;
  /* box-shad ow: 10px 10px teal; */
}
.cloud:before,
.cloud:after {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: 50px;
  /* box-shadow: 10px 10px teal; */
}
.cloud::after {
  width: 40px;
  height: 40px;
  top: -20px;
  left: 5px;
}
.cloud::before {
  width: 50px;
  height: 50px;
  top: -25px;
  left: 10px;
}
.cloud:nth-child(2) {
  transform: scale(0.5);
}
.cloud:nth-child(3) {
  transform: scale(1.2);
}
.cloud:nth-child(5) {
  transform: scale(1.5);
}
.basket {
  background-color: rgb(191, 41, 41);
  height: 25px;
  width: 20px;
  display: flex;
  position: absolute;
  float: right;
  left: 14px;
  top: 55px;
}
.basket::after {
  background-color: rgb(191, 41, 41);
  height: 25px;
  width: 5px;
  display: flex;
  position: relative;
  float: right;
  left: 14px;
  top: 10px;
}

.balloon {
  background-color: rgb(191, 41, 41);
  position: relative;
  height: 50px;
  width: 50px;
  display: flex;
  float: right;
  margin-right: 20px;
  border-radius: 50%;
  transform: scale(0.8);
}
.balloon:after {
  content: "";
  background-color: rgb(191, 41, 41);
  height: 50px;
  width: 10px;
  border-radius: 50%;
  position: relative;
  left: -10px;
}
.balloon:before {
  content: "";
  background-color: rgb(245, 147, 130);
  height: 50px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  left: 10px;
}

.tree {
  position: relative;
  top: 84%;
  left: 50%;
  height: 40px;
  width: 20px;
  background-color: darkgreen;
  border-radius: 50%;
}
.tree:after {
  content: "";
  display: inline-block;
  background-color: darkgreen;
  height: 50px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 25px;
}
.tree:before {
  content: "";
  display: inline-block;
  background-color: rgb(71, 40, 0);
  height: 50px;
  width: 5px;

  position: relative;
  left: 7px;
  top: 50px;
}
